.blockTwo{
	background-color : #ABA8A8;
	box-sizing : border-box;
	margin : 5px 210px 0 260px;
	height : inherit;
	padding : 10px 0 0 0;
	overflow : auto;
}
.list{
	list-style-type : none;
	padding : 0;
}
.itemList{
	background-color : #E0E0E0;
	height : 65px;
	margin : 0 20px 10px 20px;
	text-overflow : ellipsis;
	overflow : hidden;

	transition: 0.3s ease-out;
}
.human_profile{
	width : 64px;
	height : 64px;
	float : left;
	margin-right: 10px;
}
.itemList:hover{
	cursor : pointer;
}
.descriptionProfile{
	padding: 10px;
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height:60px

}