body,html{
	width: 100%;
	height: 100%;
	margin: 0;
}
.container{
	width:100%;
	height:100%;
	overflow: hidden;
}
.content{
	max-height: 100%;
	overflow: auto;
}
.headerBlock{
	text-align: center;
	margin-top: 0;
}
.human_profile{
	width: 64px;
	height:64px;
	float: left;
}
.active{
	background-color: lightblue;
	transition: 0.3s;
}
.descriptionProfile{
	display: inline-block;
	padding: 10px;
}