.navigationPanel{
	background-color : #ABA8A8;
	box-sizing : border-box;
	height : 50px;
	margin : 5px;
}
.help,
.elementMenu:hover{
	cursor : pointer;
}
.help:active{
	background-color : grey;
}
.menu{
	display : inline-block;
	height : inherit;
	float : left;
}
.listElementMenu{
	list-style-type : none;
	display : inline-block;
	height : inherit;
	padding : 0;
	margin : 0;
}
.elementMenu{
	border-right : 1px solid white;
	display : inline-table;
	height : inherit;
}
.itemMenu{
	vertical-align : middle;
	padding : 0 1em 0 1em;
	display : table-cell;
}
.logo{
	border-right : 1px solid white;
	display : inline-block;
	height : inherit;
	width : 250px;
	float : left;
}
.help{
	border-left : 1px solid white;
	display : inline-block;
	height : inherit;
	float : right;
}
.help:focus{
	border: none;
}
button.help{
	background-color : transparent;
	outline : none;
	border : none;
	padding : 0;
}
.displayMenu{
	display : none;
}