@media (max-width: 750px){
	body,html{
		overflow-x : hidden;
	}
	.container{
		transition: left 0.3s linear;
		position : absolute;
		overflow : auto;
		height : auto;
	}
	.blockOne{
		margin : 0;
		box-sizing : border-box;
		font-size : 1.5em;
		width : inherit;
		padding : 1em;
		float : none;
	}
	.blockThree{
		position : static;
		margin-top : 5px;
		margin-left:0;
		margin-bottom: 5px;
		box-sizing : border-box;
		font-size : 1.5em;
		width : inherit;
		padding : 1em;
		float : none;
	}
	.blockTwo{
		margin-top :5px;
		margin-left:0;
		box-sizing : border-box;
		width : inherit;
		padding : 1em;
	}
	.listElementMenu{
		transition: left 0.2s ease-out;
		position : fixed;
		background-color: #6F6969;
		height : 100%;
		left : -100%;
	}
	.elementMenu{
		border-bottom : 1px solid white;
		border-right: none;
		display : block;
		color : white;
		height : 60px;
	}
	.itemMenu{
		font-size : large;
		padding : 1em;
	}
	.bigLogo{
		display : none;
	}
	.smallLogo{
		display : block;
	}
	.logo{
		float : none;
	}
	.displayMenu{
		border-right : 1px solid white;
		height : inherit;
		display : block;
		float : left;
	}
	img.menu{
		height : 50px;
	}
	.displayMenu:hover{
		cursor : pointer;
	}
	.itemMenu{
		font-size : large;
		padding : 1em;
	}
	input[data-role="displayMenu"]:checked ~
	.container
	.navigationPanel
	.menu
	.listElementMenu{
		background-color : #6F6969;
		width : 80%;
		left : 0;
	}
	input[data-role="displayMenu"]:checked ~
	.container{
		left : 80%;
	}
	input[data-role="displayMenu"]:checked ~
	.container,
	.navigationPanel{
		margin-left:0;
		margin-right:0;
	}
}